<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="SqlServerServiceName" value="MSSQL$SQLEXPRESS" />
  </appSettings>
  <connectionStrings>
    <add name="Database" connectionString="Data Source=.\SQLEXPRESS;Integrated Security=True;Initial Catalog=ReliableDbProviderTests" providerName="System.Data.SqlClient" />
    <add name="ReliableDatabase" connectionString="Data Source=.\SQLEXPRESS;Integrated Security=True;Initial Catalog=ReliableDbProviderTests;Max Pool Size=1000" providerName="ReliableDbProvider.Tests.SqlExpress" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <add name="Sql Azure Reliable Provider" invariant="ReliableDbProvider.SqlAzure" description="Reliable Db Provider for SQL Azure" type="ReliableDbProvider.SqlAzure.SqlAzureProvider, ReliableDbProvider" />
      <add name="Sql Azure Reliable Provider With Timeout Retries" invariant="ReliableDbProvider.SqlAzureWithTimeoutRetries" description="Reliable Db Provider for SQL Azure with Timeout Retries" type="ReliableDbProvider.SqlAzureWithTimeoutRetries.SqlAzureProvider, ReliableDbProvider" />
      <add name="Sql Express Reliable Provider" invariant="ReliableDbProvider.Tests.SqlExpress" description="Reliable Db Provider for SQL Express" type="ReliableDbProvider.Tests.SqlExpress.SqlExpressProvider, ReliableDbProvider.Tests" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>