<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="ReliableDatabaseFirst" connectionString="metadata=res://*/DbFirstModel.csdl|res://*/DbFirstModel.ssdl|res://*/DbFirstModel.msl;provider=ReliableDbProvider.SqlAzure;provider connection string=&quot;data source=.\sqlexpress;initial catalog=ReliableDbProviderTests;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <add name="Sql Azure Reliable Provider" invariant="ReliableDbProvider.SqlAzure" description="Reliable Db Provider for SQL Azure" type="ReliableDbProvider.SqlAzure.SqlAzureProvider, ReliableDbProvider" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <providers>
      <provider invariantName="ReliableDbProvider.SqlAzure" type="ReliableDbProvider.Tests.DatabaseFirst.EntityFrameworkReliableDbProviderServices, ReliableDbProvider.Tests.DatabaseFirst" />
    </providers>
    <defaultConnectionFactory type="ReliableDbProvider.Tests.DatabaseFirst.EntityFrameworkConnectionFactory, ReliableDbProvider.Tests.DatabaseFirst" />
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>